:root {
   --white: #ffffff;
   --black: #000000;
   --accents-1: #fafafa;
   --accents-2: #eaeaea;
   --accents-3: #999;
   --accents-4: #888;
   --accents-5: #666;
   --accents-6: #444;
   --accents-7: #333;
   --accents-8: #111;
}

:root .light {
   --primary-text: var(--accents-8);
   --primary-bg: var(--accents-1);
   --paper-bg: var(--white);
   --border-color: #cacaca;
   --input-text: var(--black);
   --input-bg: var(--accents-2);
}

:root .dark {
   --primary-text: var(--white);
   --secondary-text: var(--accents-3);
   --primary-bg: var(--accents-8);
   --paper-bg: var(--black);
   --border-color: var(--accents-6);
   --input-text: white;
   --input-bg: #212121;
}

:root .high-contrast {
   --primary-text: white;
   --primary-bg: #020a15;
   --paper-bg: var(--black);
   --border-color: #132b4c;
   --input-text: white;
   --input-bg: #0f0055;
}

:root .grayscale {
   --primary-text: var(--accents-8);
   --primary-bg: var(--accents-2);
   --paper-bg: var(--black);
   --input-text: var(--black);
   --border-color: #bdb7b7;
   --input-bg: var(--accents-1);
}
