.bb {
   border-bottom: 1px solid var(--border-color);
}

.pb-1 {
   padding-bottom: 0.5em;
}

.pb-2 {
   padding-bottom: 1em;
}

.pb-3 {
   padding-bottom: 1.5em;
}

.pb-4 {
   padding-bottom: 2em;
}

.wrapped {
   padding: 0 0.5em;
   margin: auto;
}
