.menu-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 36px;
   height: 36px;
   outline: none;
   border: 0;
   background-color: transparent;
   transition: 0.34s ease-in-out;
   transform: rotate(-90deg);

   svg {
      fill: rgb(92, 17, 253);
   }

   &.active {
      transform: rotate(90deg) scale(0.9);

      svg {
         fill: rgb(92, 17, 253);
      }
   }
}
